/* Import heading font (same as logo font) */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Variables */

:root {
    /* Colors */
    --red: rgb(220, 30, 40);
    --black: rgb(25, 25, 25);
    --darkblue: rgb(40, 80, 130);
    --lightblue: rgb(160, 190, 230);

    /* Fonts */
    --headings: "Bebas Neue", "Calibri", sans-serif;
    --body: "Calibri", sans-serif;
    --body-size: 16px;
}

/* For all views */

h1, h2, h3, h4, h5, h6, header {
    font-family: var(--headings);
}

body {
    font-family: var(--body);
    font-size: var(--body-size);
}

main {
    margin: 0 25%;
}

/* Header, navigation, search, footer */

header, nav, .search, footer {
    background-color: var(--black);
}

footer {
    color: white;
    padding: 30px;
    margin: 20px 0 0 0;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--black);
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
}

.logo {
    grid-column: 1/2;
    justify-self: center;
}

.search-bar {
    grid-column: 2/3;
    justify-self: center;
    align-self: center; 
}

.search {

}

.search button {
    border: none;
    padding: 5px 10px;
    margin: 0;
    background-color: lightgray;
    color: black;
}

.login-button {
    grid-column: 3/4;
    justify-self: center;
    align-self: center; 
}

.login-button li {
    list-style: none;
}

.login-button li a {
    padding: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: var(--red);
}

nav {
    grid-column: span 3;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.navbar li {
    list-style: none;
}

.navbar li a {
    font-size: 1.4rem;
}

/* All forms */

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 0 auto 0 20px;
    text-align: left;
}

input {
    padding: 5px;
    margin: 0 20px 20px 20px;
}

/* Buttons */

button {
    border: none;
    font-family: var(--headings);
    padding: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 15px;
    color: white;
    background-color: var(--red);
}

button a {
    color: white;
    text-decoration: none;
}

.signupButton {
    background-color: var(--darkblue);
}

/* Login, signup */

.login-title, .signup-title {
    text-align: center;
}

/* Home/Genres page */




/* MovieDetails page */




/* MyMovies page */




/* MovieCard (search results) */


