/* Import heading font (same as logo font) */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Variables */

:root {
    /* Colors */
    --red: rgb(220, 30, 40);
    --black: rgb(25, 25, 25);
    --darkblue: rgb(40, 80, 130);
    --lightblue: rgb(160, 190, 230);

    /* Fonts */
    --headings: "Bebas Neue", "Calibri", sans-serif;
    --body: "Calibri", sans-serif;
    --body-size: 16px;
}

/* For all views */

h1, h2, h3, h4, h5, h6, header {
    font-family: var(--headings);
}

body {
    font-family: var(--body);
    font-size: var(--body-size);
    margin: 0;
}

main {
    margin: 0 20%;
}

a {
    text-decoration: none;
    color: var(--black);
}
/* Header, navigation, search, footer */

header, nav, .search, footer {
    background-color: var(--black);
}

footer {
    color: white;
    padding: 30px;
    margin: 20px 0 0 0;
}

header {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
}

.logo {
    grid-column: 1/2;
    justify-self: center;
}

.search-bar {
    grid-column: 2/3;
    justify-self: center;
    align-self: center; 
}

#search-button {
    border: none;
    padding: 5px 10px;
    margin: 0;
    background-color: lightgray;
    color: black;
}

.login-button {
    grid-column: 3/4;
    justify-self: center;
    align-self: center; 
}

.login-button li {
    list-style: none;
}

.login-button li a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: var(--red);
}

nav {
    grid-column: span 3;
}

.navbar {
    margin: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar li {
    list-style: none;
    font-family: var(--headings);
}

.navbar li a {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}

.genres {
    background-color: var(--black);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 200px;
    margin: 0 0 0 auto;
}

.genres a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

/* All forms */

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 0 auto 0 20px;
    text-align: left;
}

input {
    padding: 5px;
    margin: 0 20px 20px 20px;
}

/* Buttons */

button {
    border: none;
    font-family: var(--headings);
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 15px;
    color: white;
    background-color: var(--red);
}

button a {
    color: white;
    text-decoration: none;
}

.signupButton {
    background-color: var(--darkblue);
}

/* Login, signup */

.login-title, .signup-title {
    text-align: center;
}

/* Home page */

.home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.home-image {
    width: 400px;
}

.home-moto {
    font-size: 3em;
    font-family: var(--headings);
    margin: 0;
    padding: 0 10px 0 10px;
    align-self: center;
}

.top-ten-header {
    font-size: 2em;
    text-align: center;
}

/* MovieDetails page */
#movie-details {
    display: flex;
    align-content: center;
    padding: 20px 0;
}
#movie-details div {
    padding-left: 10%;
}
#movie-details img {
    width: 250px;
    height: auto;
}
#movie-details h3 {
    font-size: 2em;
}
#movie-details p {
    margin-top: 0;
    margin-bottom: 5px;
}
#add-to-favs {
    margin-top: 5%;
}

/* MyMovies page */




/* MovieCard (search results) */
#movie-card a{
    display: flex;
    padding: 20px 0;
}
#movie-card a div{
    display: flex;
    flex-direction: column;
    margin: 5% 0 0 5%;
}
#movie-card a img{
    width: 150px;
    height: auto;
}
#movie-card a h3, #movie-card a p {
    margin-top: 0;
    margin-bottom: 5px;
}




/* Small view adjustments */
@media screen and (max-width: 650px) {
    header {
        grid-template-columns: auto auto;
    }
    .logo {
        margin: 0 20px;
        grid-column: 1/2;
    }
    .search-bar {
        grid-column: 1/2;
    }
    .login-button {
        margin: 20px 0;
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

/* Very-large view adjustment for genres popup */
@media screen and (min-width: 1400px) {
    .genres {
        margin: 0 100px 0 auto;
    }
}